@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
{% load static %}

:root {
    --nav: #56382d;
    --bg: #201315;
    --text1: #e76d57;
    --text2: #f8f3eb;
    --fontNaslov: "Libre Baskerville", serif;
    --fontTekst: "Montserrat", serif;

    --50: #f8f5ee;
    --100: #ede6d4;
    --200: #ddcdab;
    --300: #c9ad7b;
    --400: #b99156;
    --500: #aa7e48;
    --600: #92643c;
    --700: #754c33;
    --800: #634130;
    --900: #56382d;
    --950: #311d17;
    --gradient1: linear-gradient(115deg, #92643c, #311d17);
    --btnGradDefault: linear-gradient(115deg, #aa7e48, #92643c);
    --btnGradHover: linear-gradient(115deg, #92643c, #754c33);
    --btnGradActvie: linear-gradient(115deg, #754c33, #634130);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg);
}

.kontejner-box {
    margin: 70px auto;
    max-width: 1024px;
    border: 1px solid red;
}

.kont-info {
    display: flex;
    gap: 10px;
    min-height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;

    border: 1px solid blue;
}
.kont-info:before {
    content: "";
    position: absolute;
    opacity: 0.1;
    width: 100%;
    height: 100vh;
    -webkit-animation:kenburns-top 15s infinite alternate-reverse both;
    animation: kenburns-top 15s infinite alternate-reverse both;
    z-index: -1;
    background: url('/static/images/slika1.jpg')  no-repeat top right;
    background-size: cover;
}

.kont-tag {
    flex: 1;

    border: 1px solid whitesmoke;
}
.kont-tag h1 {
    color: var(--50);
}

.kont-section {
    flex: 3;
    border: 1px solid whitesmoke;
}
.kont-section h2 {
    text-align: center;
    color: var(--50);
}

/*LISTE*/
.film-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
}
.element {
    margin: 0 auto;
}
.el-slika img {
    width: 100%;
    border-radius: 8px;
    border: 2px solid var(--600);
    opacity: 0.8;
}
.el-info {
    color: var(--100);
    padding-left: 10px;
}
.el-info p {
    padding: 0;
    margin: 0;

}
.el-imdb {
    font-style: italic;
    color: var(--400);
}



/*STRANICA FILM DETALJ*/

.detail-box {
    padding: 10px;
    max-width: 500px;
    margin: 0 auto;
}

.detail-info {
    display: flex;
    gap: 20px;
}
.detail-img img {
    border-radius: 10px;
    max-width: 100%;
}
.detail-naziv h1 {
    color: var(--50);
    font-size: 1.5rem;
}
.detail-naziv p {
    color: var(--200);
    font-size: 0.8rem;
}

.detail-god p {
    color: var(--200);
    margin: 0;
    padding: 0;

}
.imdb span {
    color: #DBA506;
    font-weight: bold;
}

.sadrzaj {
    margin-top: 20px;
}
.sadrzaj h3 {
    color: var(--200);
    font-size: 1.2rem;
}
.sadrzaj p {
    color: var(--100);
    font-size: 0.8rem;
}

.dugme {
    text-decoration: none;
    color: var(--50);
    background: var(--btnGradDefault);
    margin-top: 30px;
}
.dugme:hover {
    background: var(--btnGradHover);
    color: var(--50);
}
.dugme:active {
    background: var(--btnGradActvie);
    color: var(--50);
}



/*========================*/

.kenburns-top {
    -webkit-animation:kenburns-top 15s infinite alternate-reverse both;
    animation:kenburns-top 15s infinite alternate-reverse both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-5-13 15:21:44
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes kenburns-top {
    0%{-webkit-transform:scale(1) translateY(0);transform:scale(1) translateY(0);-webkit-transform-origin:50% 16%;transform-origin:50% 16%}
    100%{-webkit-transform:scale(1.25) translateY(-15px);transform:scale(1.25) translateY(-15px);-webkit-transform-origin:top;transform-origin:top}
}
@keyframes kenburns-top{
     0%{-webkit-transform:scale(1) translateY(0);transform:scale(1) translateY(0);-webkit-transform-origin:50% 16%;transform-origin:50% 16%}
     100%{-webkit-transform:scale(1.25) translateY(-15px);transform:scale(1.25) translateY(-15px);-webkit-transform-origin:top;transform-origin:top}
 }





@media only screen and (max-width: 800px) {
    .film-grid {
        grid-template-columns: 1fr 1fr;
    }

    .dugme {
        margin: 2px;
    }
}