{% extends 'base.html' %}
{% load static %}

{% block title %}
    Filmovi
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/filmovi.css' %}">
{% endblock %}

{% block content %}

    <section class="indeks" >

        <h2>Filmovi</h2>

        <div class="film-grid">
            {% for qs in queryset %}
                <div class="element">
                    <div class="el-slika">
                        <a href="#">
                            <img src="{{ qs.image.url }}" alt="{{ qs.naslov }}" class="el-slika-link">
                        </a>
                    </div>
                    <div class="el-info">
                        <p class="el-naslov">{{ qs.naslov }}</p>
                        <p class="el-imdb"><small>{{ qs.godina }} | <span class="">IMDb</span> {{ qs.imdb_ocena }}</small></p>
                    </div>
                </div>
            {% endfor %}
        </div>

    </section>

{% endblock %}